<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="hero-unit">
  <h1>Blackjack</h1>
  <p>The only true fun game on the web!</p>
  <p>
    <a href="/start" class="btn btn-primary btn-large">
      Start game
    </a>
  </p>
</div>