<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/application.css" />
    <script language="javascript" type="text/javascript" src="/vendor/bootstrap/js/jquery-1.11.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
      .float-left {
        float: left;
      }
      .float-right {
        float: right;
      }
      p {
        clear: both;
      }
    </style>

  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand">Blackjack</a>
            <ul class="nav">
              <li <%= request.path == "/"      ? "class=\"active\"" : "" %>><a href="/">Home</a></li>
              <li <%= request.path == "/start" ? "class=\"active\"" : "" %>><a href="/start">Start</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
      <%= yield %>
  </div>

    
  </body>
</html>
