<script language="javascript" type="text/javascript" src="/display.js"></script>

<p id="alert-spacing">&nbsp;</p>

<div id="dealer_cards" class="well well-small text-center cards">
  Please wait...
</div>

<div id="player_cards" class="well well-small text-center cards">
  Please wait...
</div>

<div id="action_buttons" class="text-center">
    <% if session[:state] == :player %>
      <p><small>What would you like to do?</small></p>
    <% end %>
    
    <p>
    <% if session[:state] == :player %>
      <input type="submit" class="btn btn-large btn-warning" name="action" value="Hit" id="hit" />
      <input type="submit" class="btn btn-large btn-success" name="action" value="Stay" id="stay" />
    <% elsif session[:state] == :dealer %>
      <input type="submit" class="btn btn-large btn-primary" name="action" value="Dealer's turn" />
    <% end %>
    </p>
</div>