<div class="text-center">
  <p>&nbsp;</p>
  <img src="/images/broke.png" alt="broke" title="You're broke!" class="text-center" />
  <h3>You have no more money!</h3>
  <h3>Game over!</h3>
  <p>&nbsp;</p>
  <p>
    <strong>Press <a href="/start" class="btn"><i class="icon-star"></i> Start</a> to start a new game.</strong>
  </p>
</div>