.float-left {
  float: left;
}
.float-right {
  float: right;
}
p {
  clear: both;
}

/* Space on the right of the 'Hit' button */
form#action_form input:first-child {
  margin-right:10px;
}

div.cards {
  height: 255px;
}

div.cards img.card {
  width: 120px;
  margin: 5px;
  border: 1px solid #8F8D8D;
  border-radius: 5px;
  padding:2px;
  background-color:white;
}