<p>&nbsp;</p>

<div class="hero-unit">
  <h1>Welcome, <%= session[:playername] %></h1>
  <p>Please wait ...</p>

  <div class="progress progress-striped active">
    <div class="bar" style="width: <%= session[:getready] %>%;"></div>
  </div>

  <p class="text-center">
  <%=
    case session[:getready]
      when 0 ; "..."
      when 20 ; "... while we shuffle the cards ..." 
      when 40 ; "... while we grab a table and some chairs ..."
      when 60 ; "... while we try to sober up the dealer ..."
      when 80 ; "... while we try to create something that looks like your order of 'Coca Cola' ..."
      when 100 ; "... no more, we're ready!"
    end
  %>
  </p>

  <p>&nbsp;</p>

</div>

  <p class="text-right">
    <a class="btn" href="/game">Skip</a>
  </p>


<script type="text/javascript">
  function go() {
    window.location.href = "/get_ready"
  }

  $(document).ready(function () {
    setTimeout(go, 1500);
  });
</script>

