<h3 class="float-left">
  <%= session[:playername] %>
</h3>
<h3 class="float-right">
  <%= cards_value(session[:player_cards]) %>
</h3>
<p>
  <% session[:player_cards].each do |card| %>
    <img class="card" src="<%= card_filename(card) %>" title="<%= card_title(card) %>" />
  <% end %>
</p>